<!-- sobre.component.html -->
<div class="container-fluid mt-5 bg-light">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow-lg">
          <div class="card-body">
            <h2 class="text-center mb-4 text-primary">Sobre o Curriculify</h2>
            <p>
              Bem-vindo ao Curriculify, sua plataforma online para geração de currículos de maneira fácil e bonita.
              Nosso objetivo é ajudar as pessoas a destacarem suas habilidades e experiências de forma profissional,
              proporcionando uma ferramenta intuitiva para criar currículos impressionantes em formato PDF.
            </p>
            <p>
              <strong class="text-primary">Recursos Principais:</strong>
            </p>
            <ul>
              <li>Geração de currículo em PDF de alta qualidade.</li>
              <li>Modelos de currículo profissionais e personalizáveis.</li>
              <li>Interface fácil de usar para inserção rápida de informações.</li>
            </ul>
            <p>
              Estamos comprometidos em simplificar o processo de criação de currículos, permitindo que os usuários
              concentrem-se no que é mais importante: destacar suas habilidades e conquistas.
            </p>
            <p>
              Seja bem-vindo ao Curriculify. Juntos, vamos criar currículos que se destacam!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  